* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color:black;
    line-height: 1.6;
}

header img{
    position: absolute;
    width:18%;
    left: 10%;
    top: -3px;
}

header {
    background-color: grey;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.3em;
}

header p{
    font-family: Arial;
}

nav {
    background-color: rgb(76, 76, 76);
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: 1s;
}

nav a:hover {
    color: #a92d07;
    border-bottom: 2px solid #fff;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 1em;
    transition: 1s;
}

.section-content {
    text-align: center;
    background-color: #fff;
    border: 1px solid #464646;
    border-radius: 40px;
    padding: 1px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Efek drop shadow */
}

.section-content:hover {
    padding: 20px;
    border-radius: 25px;
    /* background-color: rgba(128, 128, 128, 0.766) */
}

.section-content h2 {
    color: #fd3e3e;
    margin-bottom: 0.5em;
}

.section-content p {
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    position: relative;
    bottom: 0%;
    width: 100%;
}


@media (max-width: 992px) { /* Tablet */
    header img {
        width: 25%;
        left: 5%;
        z-index: 1;
        }
    header-text{
        z-index: 2;
    }
}
@media (max-width: 768px) { /* HP */
    header img {
        width: 42%;
        left: -10%;
        z-index: 1;

    }
    header-text{
        z-index: 2;
    }
}
@media (max-width: 480px) { /* HP kecil */
    header img {
        width: 35%;
        left: 2%;       z-index: 1;
        }
    header-text{
        z-index: 2;
    }
}